div.topping {
    position: fixed;
    background-color: coral;
    width: 100%;
    top: 0px;
    padding: 5px;
    text-align: center
}

div.menu {
    max-width: 150px;
    float: left;
    border-bottom: double; 
    border-left: double;
//    margin-top: 70px;
    position: fixed;
}

div.menu > h3 {
    text-align: center;
    border: solid black;
}

div.text {
    width: 80%;
    min-width: 700px;
    background-color: cornsilk;
    border-left: double;
    padding: 10px;
    padding-left: 20px;
    margin-left: 150px;
    margin-top: 63px;
    text-align: justify
}

div.text > p {
    padding: 5px;
    margin-left: 20px;
    background-color: beige;
}

div.paragraph {
    border-left: solid;
    border-color: brown;
    padding-left: 20px;
}

h1, h2, h3 {
    color: crimson;
}

IMG {
    padding: 10px;
}

img#img1 {
    width: 400px;
    height: 300px;
}

img#img2 {
    margin-top: 0px;
    float: right;
    width: 400px;
    height: 200px;
}

figure {
    text-align: center;
    display: block;
    background-color: #d9dabb;
}

.right {
    float: right;
}